.header-image {
  width: auto;
  height: 100px;
}

.container {
  padding: 8px;
  display: flex;
  justify-content: center;
  gap: 32px;
  align-items: center;
  border: 1px solid black;
}

.go-to-button {
  margin-left: auto;
  padding: 16px 32px;
  font-size: 24px;
  border-radius: 4px;
}

.header-text {
  font-size: 32px;
}
